# Python bytecode-complied / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm project setting directory
.idea/

# Ignore macOS system files
.DS_Store

# Miscellaneous files folder
Misc/